<%= form_with(model: coconut, local: true) do |form| %>
  <% if coconut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coconut.errors.count, "error") %> prohibited this coconut from being saved:</h2>

      <ul>
        <% coconut.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :diameter %>
    <%= form.number_field :diameter %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
